.teamMembersWrapper {
  display: flex;
  padding: 1rem 2rem;
  gap: 2rem;
  flex-direction: column;
}

@media only screen and (max-width:50em) {
  .teamMembersWrapper {
    align-items: center !important;
  }
}