.teamMembersDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  .teamMemberInfo {
    background: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 20px;
    width: max-content;

    .tMPWbg {
      position: absolute;
      inset: 0;
      border-radius: 20px 20px 10px 10px;
      background: transparent;
      backdrop-filter: blur(35px);
      -webkit-backdrop-filter: blur(35px) !important;
      z-index: -1;
    }

    .teamMemberPersonalWrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 0.25rem;
      background: black;
      background-size: cover !important;
      padding: 1rem;
      z-index: 0;
      border-radius: 20px 20px 10px 10px;

      .teamMemberImg {
        min-width: 200px;
        min-height: 192px;
        background-size: cover !important;
        display: flex;
        gap: 1rem;
        background-position: top right 10%;
        border-radius: 14px;
        filter: drop-shadow(0 0 40px rgba(0, 0, 0, 0.1248));

      }

      .teamMemberName {
        display: flex;
        justify-content: start;
        gap: 0.5rem;
        color: white;
        font-weight: 600;
        align-items: center;
        position: relative;
      }

      .teamMemberRole {
        background: radial-gradient(rgba(255, 255, 255, 0.205), rgba(245, 245, 245, 0.205));
        backdrop-filter: blur(35px);
        -webkit-backdrop-filter: blur(35px);
        color: white;
        font-weight: bold;
        border: 1px dotted gainsboro;
        text-align: center;
        border-radius: 10dvw;
        font-size: 0.75em;
        width: fit-content;
        padding: 0.05125rem 0.25rem;
      }

    }

    .teamMemberDesc {
      max-width: 50ch;
      font-size: 1.25rem;
      font-weight: 500;
      padding: 0.125rem 1rem;
      text-align: justify;

    }
  }

  .circleNum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 2rem;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: 2.5rem;
    font-style: italic;
    background: black;
    color: white;
    background-size: 150% !important;
    position: relative;
    z-index: 0;

    .circleNumBg {
      position: absolute;
      inset: 0;
      border-radius: 50%;
      background: transparent;
      backdrop-filter: blur(35px);
      z-index: -1;
    }
  }

  .separator {
    flex: 1;
    height: 5px;
    border-radius: 100dvw;
    background-size: cover !important;
  }
}

@media only screen and (max-width:50em) {
  /* .teamMembersDiv {

  } */

  .teamMemberInfo {
    flex-direction: column !important;
    min-width: 100% !important;
    align-items: start !important;

  }

  .teamMemberDesc {
    max-width: 25ch !important;
    font-size: 1rem !important;
    font-weight: 500;
    padding: 0.125rem 1rem;
    margin-top: 1rem !important;

  }



  .circleNum {
    display: none !important;
  }

  .separator {
    display: none !important;
  }

  .teamMemberPersonalWrapper {
    min-width: 100% !important;

    .tMPWbg {
      position: absolute;
      min-width: 100% !important;
    }

    .teamMemberImg {
      min-width: 100% !important;

    }
  }
}