.heroDiv {
  margin-top: 0 !important;
  padding: 1rem 2rem;
  display: flex;
  flex-wrap: wrap-reverse !important;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 0;
  background: gainsboro;


  .heroDivBg {
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.5;
  }

  .heroDiv1 {
    flex: 1;
    padding: 2rem 0;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;

    .title {
      color: rgba(255, 255, 255, 0.1);
      font-weight: 900;
      font-size: 4rem;
      font-weight: 700;
      background-size: cover !important;
      -webkit-background-clip: text !important;
      background-clip: text !important;
    }

    .description {
      margin-block: 0rem 2rem;
      color: rgb(94, 94, 94);
      max-width: 60ch;
    }

    button {
      padding: 0.75rem 2rem;
      border-radius: 8px;
      background-color: black;
      color: white;
      width: fit-content;
      border: none;
      transition: all 150ms;
      cursor: pointer;
      font-size: 1rem;

      &:hover {
        background-color: rgba(22, 22, 22, 0.959);

      }

    }

    .mini {
      background-size: cover !important;
      height: 80px;
      width: 80px;
      border-radius: 5px;
    }
  }

  .heroDiv2 {
    background-size: contain !important;
    height: 425px;
    border-radius: 25px;
    flex: 0.7;
    /* filter: drop-shadow(0 3rem 3rem rgba(0, 0, 0, 0.45)); */
    transition: all 150ms;
  }
}

@keyframes identifier {}


@media only screen and (max-width:50em) {
  .heroDiv1 {
    flex: 100% !important;
  }

  .heroDiv2 {
    flex: 100% !important;
  }

  .heroDiv {
    margin: 0 !important;
    margin-bottom: 1rem !important;


  }

  .section2 {
    margin: 0 !important;
    padding-top: 0 !important;
    justify-content: space-evenly !important;
  }


}

@media only screen and (max-width:30em) {
  .title {
    font-size: 2.5rem !important;
  }

  .mini {
    display: none;
  }

  .heroTiles {
    display: none;
  }

  .heroDiv {
    margin-block: 0rem !important;
    margin-bottom: 1rem !important;

  }
}

.section2 {
  padding: 1rem 2rem;
  padding-bottom: 0;
  display: flex;
  margin-top: 3rem;
  flex-wrap: wrap-reverse !important;
  justify-content: center;
  align-items: center;
  gap: 1rem
}

@media only screen and (max-width:30em) {
  .section2 {
    display: none;
  }

  .heroDiv {
    margin: 0rem !important;
    padding-bottom: 2rem !important;
    margin-bottom: 1rem !important;

  }
}

@media only screen and (min-width:50em) {
  .heroDiv2 {

    height: 800px !important;
    background-size: contain !important;
    /* filter: drop-shadow(0 3rem 3rem rgba(0, 0, 0, 0.45)); */

  }

  .heroDiv {
    padding: 1rem 10rem 5.25rem 10rem !important;

  }
}