.tileBox {
  padding: 0.5rem;
  display: flex;
  width: 175px;
  height: 125px;
  justify-content: start;
  align-items: end;
  background: none;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background: rgb(243, 243, 243);
  z-index: 1;
  position: relative;

  .blockOver {
    position: absolute;
    inset: 0;
    z-index: 2;
  }

  .tileBoxBg {
    position: absolute;
    inset: 0;
    z-index: 0;
    border-radius: 10px;
    transition: all 450ms;
    background: rgb(243, 243, 243);
    background-size: cover !important;
    z-index: 1;

    &:hover {
      transform: scale(1.25);
    }
  }



  p {
    background: white;
    color: black;
    padding: 0.125rem 0.5rem;
    border-radius: 6px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1294);
    font-size: 10px;
    position: absolute;
    z-index: 2;
    cursor: pointer;
  }
}

@media only screen and (max-width: 30em) {
  .heroTiles {
    display: none;
  }
}