.tileBox {
  padding: 0.5rem;
  display: flex;
  width: 175px;
  height: 125px;
  justify-content: start;
  align-items: end;
  background: none;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all 450ms;
    background: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvcGR2YW5nb2doLXNlbGYtcG9ydHJhaXQtbTAxLWpvYjY2MV8yLWwxMDBvNmVmLmpwZw.jpg) no-repeat center center;
    background-size: cover;
    z-index: 1;
  }

  &:hover::before {
    transform: scale(1.25);
  }

  p {
    background: white;
    color: black;
    padding: 0.125rem 0.5rem;
    border-radius: 6px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1294);
    font-size: 10px;
    position: absolute;
    z-index: 2;
    cursor: pointer;
  }
}

@media only screen and (max-width: 30em) {
  .heroTiles {
    display: none;
  }
}