@media only screen and (max-width:50em) {
  .preFooterDivHeading {
    display: flex;
    justify-content: space-between;
    max-width: 50ch !important;

    div {
      gap: 2rem !important;

      span {
        font-size: 1.125rem !important;

      }
    }
  }

  .preFooterDiv {
    align-items: start !important;
    padding-bottom: 0 !important;
    padding-inline: 1rem !important;
    margin-bottom: -2rem !important;
    padding-bottom: 1.5rem !important;


  }
}

.preFooterDiv {
  margin-top: 4.25rem;
  padding: 1rem;
  color: ghostwhite;
  opacity: 1;
  background-image: linear-gradient(to bottom, black 0%, black 100%);
  border-radius: 0px 0px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  padding-inline: 2rem;


  .preFooterDivHeading {
    display: flex;
    justify-content: space-between;
    max-width: 70ch;

    div {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
      align-items: baseline;

      span {
        font-size: 2.5rem;
        font-weight: 500;

      }

      p {
        color: rgba(0, 0, 0, 0.72);
        opacity: 0.6;
        font-size: 1.5rem;
        font-weight: 500;
        text-transform: lowercase;

      }
    }
  }

  .preFooterDivContent {
    position: relative;
    margin-block: 1rem;
    border-radius: 20px;
    background: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding-block: 2rem;

    position: relative;
    opacity: 1;
    z-index: 1;

  }
}