/* CancellationAndRefundPolicy.module.css */

/* Container styles */
.policyContainer {
  margin-top: 4.25rem;
  padding: 1rem 2rem;
  /* Default padding */
  min-height: 100vh;
  /* Important: Use vh for viewport height */
}

/* Adjusted padding for larger screens */
@media only screen and (min-width: 51em) {
  .policyContainer {
    padding: 1rem 10rem;
  }
}

/* Heading styles */
h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.3rem;
  margin-top: 1.5rem;
}

/* Paragraph styles */
p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

/* Link styles */
.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  text-decoration: underline;
}