@import url(./Components/Header.module.css);
/**********************************************************************/
/**********************************************************************/
/*----------------------------- Home Page Components -----------------*/
@import url(./Components/Sections/Hero.module.css);
@import url(./Components/Sections/HeroTile.module.css);

@import url(./Components/Sections/Stats.module.css);

@import url(./Components/Sections/Trend.module.css);
@import url(./Components/Sections/MiniTrend.module.css);

@import url(./Components/Sections/Blogs.module.css);

@import url(./Components/Sections/Recents.module.css);
@import url(./Components/Sections/RecentItem.module.css);

@import url(./Components/Footer.module.css);
/**********************************************************************/
/*----------------------------- Home Page Components -----------------*/
/**********************************************************************/


/**********************************************************************/
/*----------------------------- Courses Page -------------------------*/
/**********************************************************************/
@import url(./Pages/Courses/Courses.module.css);
@import url(./Pages/Courses/CourseListItem.module.css);
@import url(./Pages/Courses/CourseItemDescription.module.css);
/**********************************************************************/
/*----------------------------- Courses Page -------------------------*/
/**********************************************************************/


/**********************************************************************/
/*----------------------------- Team Page ----------------------------*/
/**********************************************************************/
@import url(./Pages/Team/Team.module.css);
@import url(./Pages/Team/TeamMember.module.css);
/**********************************************************************/
/*----------------------------- Team Page ----------------------------*/
/**********************************************************************/


/**********************************************************************/
/*----------------------------- ContactUs Page -----------------------*/
/**********************************************************************/
@import url(./Pages/ContactUs/ContactUs.module.css);
@import url(./Components/Sections/PreFooter.module.css);

/**********************************************************************/
/*----------------------------- ContactUs Page -----------------------*/
/**********************************************************************/
*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
}