.courseItemLi {
  background: rgb(243, 243, 243);
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.102);
  gap: 0.75rem;

  .liTextInfo {
    flex: 1;
    width: 100%;
    padding-inline: 1rem;
  }

  .liHeading {
    font-weight: bold;
    align-content: start;
  }

  .liIcon {
    background: conic-gradient(whitesmoke, gainsboro);
    background-size: contain !important;
    width: 350px;
    height: 200px;
    border-radius: 10px;

  }

  .liStat {
    background: gainsboro;
    font-size: 0.65rem;
    font-weight: bold;
    display: inline;
    padding: 0.125rem 0.25rem;
    border-radius: 10dvw;
    color: gray;
    align-content: start;
  }

  transition: all 150ms;
  cursor: pointer;

  &:hover {
    scale: 1.02;
  }

  &:active {
    filter: brightness(0.9);
    scale: 1;

  }
}